@media only screen and (min-width: 1921px) {
}
@media only screen and (max-width: 1832px) {
  .mega-navbar .nav-link {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1799px) {
  .mega-navbar .nav-link {
    font-size: 16px;
  }
  .global-presence-inner img,
  .pan-india-left img {
    width: 100%;
  }
      .megamenu {
    top: 88px;
  }
}
@media only screen and (max-width: 1699px) {
  .mega-navbar .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px !important;
  }
  .founder-image-main {
    width: 350px;
  }
  .founders-image::before {
    width: 70%;
  }
}
@media only screen and (max-width: 1599px) {
  :root {
    --vscontainer: 1380px;
    --fs-72: 64px;
    --fs-48: 44px;
    --fs-40: 36px;
    --fs-32: 28px;
  }
  .mega-navbar .navbar-nav {
    grid-gap: 12px;
  }
  .mega-navbar .navbar-brand img {
    width: 220px;
  }
  .mega-navbar .nav-link {
    padding: 10px !important;
  }
  .megamenu-inner {
    display: grid;
    grid-template-columns: 400px 1fr;
  }
  .menu-list {
    height: 500px;
}
}
@media only screen and (max-width: 1535px) {
}
@media only screen and (max-width: 1499px) {
  .mega-navbar .nav-link {
    font-size: 14px;
  }
  .news-event-card:nth-child(4) .news-event-card-inner {
    grid-gap: 16px;
    flex-direction: column;
    justify-content: end;
    align-items: start;
  }
  .hero-inner-content {
    max-width: 60%;
  }

}

@media only screen and (max-width: 1439px) {
}
@media only screen and (max-width: 1399px) {
  :root {
    --vscontainer: 1200px;
    --fs-72: 56px;
    --fs-48: 40px;
    --fs-40: 34px;
    --fs-32: 26px;
    --fs-28: 24px;
    --fs-24: 20px;
  }
  .navbar-nav .dropdown-menu {
    background-color: transparent;
  }
  .inner-card-yt {
    max-height: 120px;
    max-width: 120px;
  }
  .inner-card-yt iframe {
    max-height: 100px;
    max-width: 100px;
  }
  .main-product .mySwiper2 iframe {
    max-height: 400px;
  }
  .mega-navbar,
  .navbar-nav .nav-link.show {
    color: var(--white);
  }

  .mega-navbar .common-btn {
    padding: 16px 16px;
  }
  .navbar-collapse {
    transition: transform 0.3s ease;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 450px;
    height: 100dvh;
    background-color: var(--black);
    z-index: 8;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }
  body.menu-open {
    overflow: hidden;
    height: 100vh;
  }
  .resposive-logo {
    display: block;
    padding: 20px;
    background-color: var(--white);
  }
  .mega-navbar .navbar-nav {
    width: 100%;
    height: 100%;
  }
  .mega-navbar .nav-item {
    min-height: auto;
  }
  .mega-navbar .megamenu-li {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .mega-navbar .nav-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: var(--white);
    border-bottom: none;
    box-shadow: none;
  }
  .mega-navbar .nav-link img {
    filter: brightness(0) invert(1);
  }
  .nav-link.dropdown-toggle br {
    display: none;
  }
  .menu-left,
  .header-banner-image {
    display: none;
  }
  .menu-right {
    display: grid;
    grid-template-columns: 1fr;
  }
  .megamenu-inner {
    display: grid;
    grid-template-columns: 1fr;
  }
  .navbar-nav .dropdown-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }
  .menu-list {
    background-color: #fff;
    margin: 16px;
    padding: 20px;
    border-radius: 0;
    max-width: 100%;
    height: auto;
  }
  .menu-list li {
    width: 100%;
  }
  .menu-list li a span {
    white-space: normal;
  }

  .mega-navbar .border-top {
    border-top: none;
  }
  .menu-close {
    display: block;
  }
  .contact-us-page .contact-detail {
    gap: 40px;
  }
  .news-detail-grid,
  .blog-detail-page-grid {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 60px;
  }
  .founder-info-grid {
    gap: 20px;
  }
  .founder-image-main {
    width: 278px;
  }
  body:has(.navbar-collapse.show) {
    overflow: hidden;
  }

}
@media only screen and (max-width: 1365px) {
}
@media only screen and (max-width: 1299px) {
  :root {
    --vscontainer: 1180px;
  }

  .country-flags img {
    max-width: 40px;
  }
  .global-presence-grid {
    grid-template-columns: 414px 1fr;
  }

  .pan-india-grid {
    grid-template-columns: 1fr 414px;
  }
  .recent-blog-main {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media only screen and (max-width: 1199px) {
  :root {
    --vscontainer: 90%;
    --fs-72: 58px;
    --fs-48: 32px;
    --fs-40: 28px;
    --fs-32: 20px;
    --fs-28: 22px;
    --fs-24: 18px;
    --fs-20: 16px;
    --fs-16: 16px;
  }
  .py-80 {
    padding: 40px 0;
  }
  .news-detail-card,
  .blog-card-main {
    padding-bottom: 40px;
  }
  .contact-us-page,
  .latest-blog-card,
  .latest-blog-card {
    padding-top: 40px;
  }

  .inner-blog-content p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .location-grid,
  .contact-main {
    grid-template-columns: 1fr;
  }
  .footer-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 28px;
  }
  .custom-yt-class {
    bottom: -56px;
  }
  .inner-content .common-inner-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 14px;
  }
  .tabbing-main .nav-tabs button,
  .tabbing-main .nav-link.active {
    padding: 8px 30px 8px 18px;
  }
  .contact-detail {
    padding: 0 0;
  }
  .title p {
    padding: 8px 0 32px;
  }
  .common-title p {
    max-width: 80%;
  }
  .product-videos {
    padding: 40px 0 120px;
  }
  .tabbing-main .nav-link.active::after {
    width: 56px;
    left: -46px;
  }
  .global-presence-card {
    min-height: 168px;
  }
  .country-flags img {
    max-width: 30px;
  }
  .global-presence-grid {
    grid-template-columns: 356px 1fr;
  }
  .pan-india-grid {
    grid-template-columns: 1fr 356px;
    margin-top: 20px;
  }
  .pan-india-main .common-title p {
    padding-bottom: 0;
  }
  .global-presence-inner-left {
    gap: 24px;
  }
  .global-presence-card:nth-child(3) {
    margin-top: -54px;
  }
  .global-presence-card:nth-child(2) {
    margin-top: 56px;
  }
  .common-title p {
    padding: 8px 0 32px;
  }
  .find-blogs {
    margin-top: 32px;
  }
  .contact .contact-detail p {
    font-size: 16px;
    padding-top: 8px;
  }
  .certification {
    grid-template-columns: repeat(3, 1fr);
  }
  .news-events-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 20px 10px;
  }
  .news-event-card:nth-child(4n + 1) {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 12;
  }
  .news-event-card:nth-child(4n + 2) {
    grid-column-start: 1;
    background: #000;
    grid-row: 2;
    grid-column-end: 6;
  }
  .news-event-card:nth-child(4n + 3) {
    background: #000;
    grid-column-end: 12;
    grid-row: 2;
    grid-column-start: 7;
  }
  .news-event-card:nth-child(4n + 4) {
    background: #000;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 12;
  }
  .contact-us-page .contact-detail {
    gap: 20px;
    grid-template-columns: 1fr 396px;
  }
  .contact-us-page .stroke-text {
    font-size: 80px;
  }
  .news-detail-grid,
  .blog-detail-page-grid {
    grid-template-columns: 1fr 315px;
    gap: 40px;
  }
  .news-social-media {
    width: 100%;
    margin-top: 34px;
  }
  .about-ves-grid {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .about-ves-grid img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
  }
  .about-ves-card-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    gap: 24px;
  }
  .about-founder {
    margin-top: 140px;
  }
  .about-founder-header {
    margin-top: -100px;
  }
  .founder-image-main {
    width: 214px;
  }
  .founder-info-grid {
    gap: 24px;
  }
  .founders-image::before {
    width: 68%;
  }
  .founders-image a {
    margin-bottom: 0;
  }
  .modern-facility-grid {
    grid-template-columns: 370px 1fr;
    gap: 24px;
  }
  .why-choose-ves-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .why-choose-ves-achiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .why-choose-ves-achiv .why-choose-ves-achiv-cards {
    width: 100%;
  }
  .why-choose-ves-achiv-cards p br {
    display: none;
  }
  .who-are-we-main {
    grid-template-columns: 388px 1fr;
    align-items: start;
    gap: 24px;
  }
  .our-team-image img {
    width: 100%;
  }
  .who-are-we-secondary {
    gap: 24px;
    grid-template-columns: 1fr 384px;
  }
  .why-us-grid {
    grid-template-columns: 1fr 308px;
    gap: 24px;
  }
  .global-presence-card {
    padding: 12px;
  }
  .ves-expertise-grid .box-blue {
    height: fit-content;
  }
  .contact-detail h2 {
    margin-bottom: 12px;
  }
  .sample-library-tabbing button {
    font-size: 14px;
  }
  .help-tabbing-content .inner-content .title p {
    font-size: 12px;
  }
  .modern-facility-slider {
    max-height: 362px;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-images {
    grid-area: auto !important; /* 👈 kill JS grid-area */
  }
}
@media only screen and (max-width: 1023px) {
  .help-tabbing-content {
    width: 100%;
    position: relative;
  }
  .tabbing-main .nav-tabs {
    display: flex;
    flex-direction: row;
    grid-gap: 4px;
    justify-content: center;
  }
  .tabbing-main {
    right: 0;
    top: -26px;
    left: 0;
    transform: translateX(0px);
  }

  .inner-content {
    width: 90%;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 50%;
    transform: translate(-50%, 76%);
  }
  .tabbing-main .nav-tabs button,
  .tabbing-main .nav-link.active {
    padding: 15px 30px;
  }
  .inner-card-yt {
    max-height: 100px;
    max-width: 100px;
  }
  .inner-card-yt iframe {
    max-height: 80px;
    max-width: 80px;
  }
  .main-product .mySwiper2 iframe {
    max-height: 400px;
  }

  .happy-to-help {
    padding-bottom: 200px !important;
  }
  .tabbing-main .nav-tabs button,
  .tabbing-main .nav-link.active {
    text-align: center;
    justify-content: center;
  }
  .tabbing-main .nav-link.active::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 28px;
    background-color: var(--white);
    border-radius: 50px;
    z-index: 2;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    bottom: -16px;
  }
  .news-detail-inner-content {
    gap: 16px;
  }
  .news-detail-inner-content ul {
    margin-top: 16px;
  }
  .detail-page-image {
    margin: 16px 0;
  }
  .recent-blog-main {
    grid-template-columns: 1fr;
  }
  .recent-blog-header {
    max-width: 100%;
    margin-bottom: 26px;
  }
  .blog-card-main .tabbing-heading p {
    max-width: 100%;
    margin-top: 10px;
  }
  .blog-card-grid {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
  }
  .custom-blog-page .pagination {
    margin-top: 26px;
  }
  .sample-library-tabbing button {
    padding: 8px 10px;
  }
}
@media (max-width: 991px) {
  :root {
    --fs-72: 38px;
    --fs-58: 36px;
    --fs-48: 28px;
    --fs-40: 24px;
    --fs-32: 20px;
    --fs-28: 18px;
    --fs-24: 16px;
    --fs-22: 15px;
    --fs-20: 14px;
  }
  .global-presence-grid {
    grid-template-columns: 1fr;
  }
  .pan-india-grid {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .global-presence-inner-left {
    grid-gap: 10px;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .global-presence-card {
    max-width: 100%;
    min-height: auto;
  }
  .global-presence-card:nth-child(2) {
    margin-top: 0px;
  }
  .global-presence-card:nth-child(3) {
    margin-top: 0px;
  }
  .news-events-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .stroke-text {
    font-size: 70px;
  }
  .contact-detail {
    padding: 0;
  }
  .news-events-grid {
    display: flex;
    flex-direction: column;
  }
  .news-event-card:nth-child(3) {
    display: none;
  }
  .news-event-card:nth-child(4) {
    display: none;
  }
  .news-event-card:nth-child(2) {
    min-height: 300px;
    max-height: 300px;
    height: 300px;
    background-size: cover;
  }
  .news-event-card-inner p {
    font-size: 20px;
  }
  .contact-location .location-card {
    grid-template-columns: 1fr;
  }
  .contact-us-page .contact-detail {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .sample-grid {
    margin-top: 16px;
    gap: 15px;
  }
  .news-detail-card h2 {
    margin-bottom: 16px;
  }
  .tabbing-heading h3 {
    max-width: 100%;
  }
  .news-detail-grid,
  .blog-detail-page-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .blog-image-dec img {
    width: 100%;
  }
  .founder-info-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .founder-image-main {
    width: 80%;
  }
  .blog-card-main .sample-library-tabbing .nav-tabs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sample-library-tabbing button {
    width: fit-content;
    margin: 0 auto;
  }
  .sample-library-tabbing button br {
    display: none;
  }
  .modern-facility-grid {
    grid-template-columns: 1fr;
  }

  /* ONLY mobile fix */
  .facility-main {
    max-height: 400px;
    aspect-ratio: 1 / 1;
    width: 100%;
  }

  .facility-main,
  .facility-main .swiper-wrapper,
  .facility-main .swiper-slide {
    height: 100%;
  }
  .who-are-we-main {
    grid-template-columns: 1fr;
  }
  .who-are-we-secondary {
    display: flex;
    flex-direction: column-reverse;
  }
  .gallery-page .nav-tabs {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
}
@media (max-width: 767px) {
  :root {
    --fs-72: 32px;
    --fs-48: 24px;
    --fs-40: 20px;
    --fs-32: 18px;
    --fs-28: 16px;
    --fs-24: 14px;
    --fs-22: 14px;
    --fs-20: 13px;
    --fs-18: 13px;
  }
  .py-80 {
    padding: 30px 0;
  }
  .news-detail-card,
  .blog-card-main {
    padding-bottom: 30px;
  }
  .contact-us-page,
  .latest-blog-card {
    padding-top: 30px;
  }
  .building-reliable-inner {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-info {
    flex-wrap: wrap;
  }
  .hero-slider-main {
    height: 600px;
    width: 100%;
  }
  .hero-slider-main .swiper-pagination-bullet::before {
    display: none;
  }
  .hero-slider-main .swiper-pagination {
    gap: 20px;
  }
  .hero-slider-main .swiper-pagination {
    transform: translate(-50%, 0px);
  }
  .main-product {
    display: flex;
    flex-direction: column-reverse;
  }
  .custom-yt-class {
    display: none;
  }
  .custom-pagination {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    display: flex;
    gap: 16px;
    transform: translate(18px, -140px);
    z-index: 3;
    width: 100%;
  }
  .custom-pagination .swiper-button-next {
    right: 0px;
    left: auto;
  }
  .product-videos {
    padding: 50px 0;
  }
  .product-videos .description {
    padding-bottom: 30px;
  }

  .top-navbar ul {
    gap: 20px;
  }
  .news-event-card-inner .company-icon {
    margin: 20px auto;
    width: auto;
  }
  .top-navbar ul li {
    display: none;
    border: none;
    padding: 0;
  }

  .top-navbar ul li:nth-last-child(-n + 4) {
    display: list-item;
  }
  .hero-slider-main .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.3);
  }
  .copyright-link {
    flex-direction: column;
    text-align: center;
  }
  .moblie-view {
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .menu-close .contact-btn {
    display: block;
    position: absolute;
    z-index: 9;
    width: 90%;
  }
  .contact-btn {
    display: none;
  }
  .moblie-menu-only {
    flex-direction: column;
    gap: 10px;
  }
  .moblie-menu-only .contact-btn {
    display: block;
    width: 90%;
    text-align: center;
    position: sticky;
    z-index: 9999;
    bottom: 12px;
  }
  .blog-detail-page-left p {
    margin-bottom: 16px;
    margin-top: 8px;
  }
  .blog-detail-page-left h3 {
    margin-top: 16px;
  }
  .blog-banner-image,
  .blog-detail-page-left h2,
  .blog-detail-page-left ul,
  .latest-blog-card h2 {
    margin-bottom: 16px;
  }
  .founder-info-grid {
    grid-template-columns: 1fr;
  }

  .modern-facility-detail .blue-box {
    width: auto;
  }
  .why-choose-ves-achiv {
    grid-template-columns: 1fr;
  }
  .vision-card-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .who-are-we-info {
    gap: 8px;
  }

  .who-are-we-info .accordion-header {
    padding-top: 20px;
  }
  .why-us-grid {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .our-strength-grid,
  .ves-expertise-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .ves-expertise h2,
  .our-strength h2,
  .our-vision h2,
  .why-choose-ves h2,
  .recent-blog-header h2 {
    margin-bottom: 20px;
  }
  .founder-image-main {
    width: 100%;
  }
  .founders-image::before {
    width: 76%;
  }
  .news-detail-grid,
  .blog-detail-page-grid {
    gap: 10px;
  }
  .blog-card-main .sample-library-tabbing .nav-tabs {
    gap: 10px;
  }
  .top-navbar ul li.menu-item {
    display: block;
  }
  .menu-toggle {
    all: unset;
    padding: 8px;
    background-color: rgba(40, 44, 50, 0.7);
  }
  .submenu {
    position: absolute;
    background-color: var(--black);
    z-index: 9999;
    padding: 20px;
    right: 10px;
    min-width: 200px;
  }
  .top-navbar .submenu li {
    padding: 8px 0;
    border-bottom: 1px solid #ffffff68;
  }
  .top-navbar .submenu li a {
    font-size: 18px;
  }
  .top-navbar .submenu li:last-child {
    border: none;
    padding-bottom: 0;
  }
  .top-navbar .submenu li:first-child {
    padding-top: 0;
  }
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-images {
    grid-area: auto !important;
  }
  .top-navbar ul li .submenu li {
    display: block;
  }
  .mega-navbar .navbar-nav {
    height: calc(100dvh - 198px);
    overflow: auto;
  }
}
@media only screen and (max-width: 575px) {
  .newsletter-link .input-field {
    min-width: 100%;
  }
  .outer-btn {
    display: none;
  }
  .blog-cards-main {
    display: flex;
    flex-direction: column;
  }
  .top-navbar ul {
    gap: 6px;
    justify-content: space-between;
  }
  .news-event-card-inner .company-icon {
    width: 200px;
  }
  .certification {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .hero-inner-content p {
    margin-bottom: 30px;
  }
  .hero-inner-content {
    max-width: 90%;
  }
  .pan-india-main {
    padding: 10px;
  }
  .country-flags {
    gap: 4px;
    margin-top: 8px;
  }
  .hero-slider-main .swiper-pagination {
    gap: 4px;
  }
  .hero-slider-card {
    padding-top: 160px;
  }
  .testimonials-inner-cards img {
    max-width: 200px;
  }
  .testimonial-details p {
    margin-top: 14px;
  }
  .mega-navbar .nav-link img {
    max-width: 20px;
  }
  .navbar-collapse {
    height: 100%;
  }
  .contact-us-page .stroke-text {
    font-size: 50px;
  }
  .contact-location .location-card {
    padding: 10px;
  }
  .hero-common-bg {
    min-height: 200px;
    max-height: 200px;
  }
  .sample-grid {
    grid-template-columns: 1fr;
  }
  .sample-library-tabbing .nav-tabs {
    flex-wrap: nowrap;
  }
  .news-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .news-grid .common-inner-btn {
    font-size: 14px;
    padding: 8px 12px;
  }
  .news-grid .common-inner-btn img {
    width: 16px;
  }
  .blog-card-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .blog-main-img img {
    height: auto;
  }
  .about-ves-card-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .about-founder-header {
    max-width: 94%;
  }
  .about-founder {
    margin-top: 110px;
  }
  .why-choose-ves-achiv .why-choose-ves-achiv-cards:nth-child(1),
  .why-choose-ves-achiv .why-choose-ves-achiv-cards:nth-child(2),
  .why-choose-ves-achiv .why-choose-ves-achiv-cards:nth-child(3),
  .why-choose-ves-achiv .why-choose-ves-achiv-cards:nth-child(4) {
    padding-right: 20px;
  }
  .what-make-special ul,
  .news-social-media ul {
    gap: 8px;
  }
  .founder-image-main {
    width: 80%;
  }
  .news-social-media {
    padding: 10px;
  }
  .common-inner-btn {
    padding: 10px 16px 10px 20px;
  }
  .blog-page-card {
    padding: 10px;
  }
  .tabbing-main .nav-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .vision-card-images {
    padding-bottom: 8px;
    margin-bottom: 8px;
    gap: 8px;
  }
  .vision-card-images img {
    width: 28px;
    height: 28px;
  }
  .about-ves-grid img {
    height: 170px;
  }
}
@media (max-width: 480px) {
  :root {
    --fs-72: 28px;
    --fs-48: 20px;
    --fs-40: 18px;
    --fs-32: 16px;
    --fs-28: 15px;
    --fs-24: 14px;
    --fs-20: 13px;
    --fs-18: 12px;
    --fs-16: 12px;
  }
  .testimonials .common-title {
    padding-bottom: 30px;
  }
  .navbar-collapse {
    min-width: 380px;
    max-width: 380px;
  }
  .news-detail-breadcrumb span {
    padding: 4px 10px;
  }
  .new-details .breadcrumb {
    gap: 0;
  }
  .news-detail-breadcrumb {
    gap: 8px;
  }
  .our-strength-grid,
  .ves-expertise-grid {
    grid-template-columns: 1fr;
  }
  .ves-expertise h2,
  .our-strength h2,
  .our-vision h2,
  .why-choose-ves h2,
  .recent-blog-header h2 {
    margin-bottom: 12px;
  }
  .top-navbar ul li a span {
    display: none;
  }
  .top-navbar ul {
    gap: 6px;
    justify-content: end;
    gap: 20px;
  }
  .top-navbar ul li:nth-child(6) {
    background-color: rgba(40, 44, 50, 0.7);
    padding: 10px;
  }
  .top-navbar ul li:nth-child(7) {
    background-color: rgba(40, 44, 50, 0.7);
    padding: 10px;
  }
}

@media only screen and (max-width: 398px) {
  .mega-navbar .navbar {
    padding: 12px 16px;
  }
  .cst-button {
    height: 32px;
    line-height: 32px;
    width: 32px;
  }
  .search-container {
    width: 32px;
    height: 32px;
  }
  .mega-navbar .navbar-brand img,
  .resposive-logo img {
    width: 158px;
    height: 48px;
  }
  .top-navbar {
    padding: 6px 16px;
  }
  .happy-to-help {
    padding-bottom: 220px !important;
  }
  .tabbing-main .nav-tabs button,
  .tabbing-main .nav-link.active {
    padding: 12px 16px;
  }
  .stroke-text {
    font-size: 58px;
  }
  .location-card,
  .news-event-card-inner {
    padding: 10px;
  }
  .common-title p {
    max-width: 96%;
  }
  .testimonials-inner-cards {
    padding: 30px 10px;
  }
  .inner-blog-content {
    padding: 30px 10px;
  }
  .helping-main-img {
    min-height: 200px;
  }
  .sample-library-tabbing .nav-tabs .nav-link {
    font-size: 12px;
    padding: 10px 6px;
  }
  .facility-main {
    width: 300px;
  }
  .menu-toggle {
    padding: 4px;
  }
  .top-navbar ul li:nth-child(6),
  .top-navbar ul li:nth-child(7) {
    padding: 6px;
  }
}
@media only screen and (max-width: 383px) {
}
@media only screen and (max-width: 374px) {
  .cst-button {
    height: 30px;
    line-height: 30px;
    width: 30px;
  }
  .search-container {
    width: 30px;
    height: 30px;
  }
  .top-navbar ul li a {
    font-size: 10px;
  }
  .navbar-collapse {
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 357px) {
  .navbar-collapse {
    min-width: 100%;
    max-width: 100%;
  }
  .mega-navbar .nav-link {
    font-size: 12px;
  }
  .moblie-menu-only .contact-btn {
    width: 84%;
  }
}
